@page "{id:int}"
@model Shop_RazorPages.Pages.Categories.EditModel
@{
    ViewData["Title"] = "Edit Category";
}

<h1>Edit Category</h1>

<form method="post">
    <input type="hidden" asp-for="Category.Id" />

    <div>
        <label for="Name">Name:</label>
        <input type="text" asp-for="Category.Name" />
        <span asp-validation-for="Category.Name"></span>
    </div>

    <button type="submit">Save</button>
    <a asp-page="./Index">Cancel</a>
</form>
